@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{font-family: "roboto", sans-serif, "Times New Roman";}


h1{

  text-align: center;
}

a:hover{
  opacity: 0.9;
}

a:active{
  opacity: 0.7;
}

/* li{
  list-style-type: none;
} */

a{
  text-decoration: none;
  color: white;
}

a:visited{
  text-decoration: none;
  color: white;
}

a:link{
  text-decoration: none;
  color: white;
}

a:active{
  text-decoration: none;
  color: white;
}


/* HEADER HEADER HEADER */

.logo-e{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.webimg-e{
  width: 650px;
  height: 350px;
  border-radius: 0px;
}

.divHead{
  background-color: #1F2937;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  
 

}

.snavbar{display: flex;
  flex-direction: row;
width: 100;
height: 30%;
justify-content: space-between;
margin-top: 20px;
margin-bottom: 50px;
margin-left: 25px;
  margin-right: 25px;

}

.lnavbar{display: flex;
  flex-direction: row;
  width: 100;
  height: 70%;
justify-content: space-between;
margin-bottom: 50px;
margin-left: 25px;
  margin-right: 25px;

}

.header-title{
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  
}

.header-button{

  width: 170px;
  height: 50px;
}

.logohead{display: flex;
  flex-direction: row;}

.linkhead{display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: grey;
  margin: 10px;
  /* height: 50px; */
  padding-top: 14px;
  padding-bottom: 14px;  
  opacity: 0.8;
  color: white;

}

.li-head{
  margin-left: 8px;
  margin-right: 8px;
}

.webname{display: flex;
  flex-direction: column;
max-width: 1100px;
}

.name{}

.nameCont{
  font-size: 18px;
  color:E5E7EB
}

.nameButton{}

.webimg{display: flex;
  flex-direction: row;}


  /* END OF HEADER */

  /*MAIN MAIN MAIN */
.main-main{
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
}


.main-div{
  display: flex;
  flex-direction: row;
  
 
}

.main-cont{
  display: flex;
  flex-direction: column;
  

}

.main-continus{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  

}

.main-img{
}

.main-title-name{
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.main-p{
  max-width: 450px;
}

.main-img-e{

  width:450px;
  height: 300px;
  border: 4px solid rgb(40, 178, 202);
  border-radius: 25px;
  
}

.div-p{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #E5E7EB;
 
}

.quote-e{
  font-size: 36px;
  font-weight: lighter;
  color: #1F2937;
}

.footer-div{
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-content: center;
  margin:50px;

}

.blue-div{
  display: flex;
  flex-direction: row;
  background-color: #3882F6;
  width: 50%;
  height: 50%;
  justify-content: space-around;
  color:white;
  border-radius: 12px;
  
 
}

.blue-button{
  display: flex;
  align-self: center;
  
  
  
}

.footer-button{

  width: 150px;
  height: 40px;
  background-color: #3882F6;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 8px;
  color: white;
  /* background-color: #3882f6; */
}

.footer-title{
  /* display: flex;
  flex-direction: column; */
  font-weight: bolder;
  font-size: 14px;
}

.footer-cont{
  font-weight: lighter;
  font-size: 10px;
}
  /* END OF MAIN */

  /*DIV ARTICLE DIV */

  /*END OF DIV ARTICLE DIV*/

  /* FOOTER FOOTER FOOTER */

  /* END OF FOOTER  */